[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
graphene = "*"
numpy = "*"
pandas = "*"
flask-graphql = "*"
fastai = "*"
torch = {file = "http://download.pytorch.org/whl/cpu/torch-0.4.0-cp36-cp36m-linux_x86_64.whl"}

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.6"
